@charset "UTF-8";

/*
    Fonts Utilizadas no Site
 */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Neucha&family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Neucha&family=Patrick+Hand&display=swap');

@font-face {
    font-family: 'WWFAWDWG';
    src: url('fonts/Whenweallfallasleep-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
}




body{
    color:white;
    background-color: black;
}


/*
    CSS IDS
*/

#Conteudo{
    padding-bottom: 25%;
}

/* 
    Nav Bar
*/

header.rolagem{
    background: rgba(0, 0, 0, 0.39);
    padding: 20px 100px;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.logo{
    font-size: 32px;
    color: rgb(240, 248, 255);
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;

}




/* 
  Inicio do Layout
*/
.Head{
    margin: 0px;
    width: 1652px;
    height: 1011.84px;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    flex-flow: wrap;
    padding-top: 7%;
    align-items: center;
    text-transform: uppercase;
}

.V1 > video{
    width: 1903.4px;
    height: 1011.85px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.Head h1 {
    width: 115.2%;
    margin-top: 260px;
    color: rgb(240, 248, 255);
    font-size: 4em;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: fontchange 4s infinite;

    /* Responsividade */
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    flex-flow: wrap;
}


.Head h2 {
    width: 115.2%;
    margin: 0px;
    color:rgba(240, 248, 255, 0.863);
    font-size: 1.5em;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    animation: fontchange 4s infinite ;
}

@keyframes fontchange {
    0%,20%{
        font-family: 'Be Vietnam Pro';
        content: "Billie Eilish O'Connell";
    }
    21%,40%{
        font-family: 'Patrick Hand';
        content: "Billie Eilish O'Connell";
    }
    41%,60%{
        font-family: 'Neucha';
        content: "Billie Eilish O'Connell";
    }
    61%,80%{
        font-family: 'Patrick Hand';
        content: "Billie Eilish O'Connell";
    }
    81%,40%{
        font-family: 'Annie Use Your Telescope';
        content: "Billie Eilish O'Connell";
    }
    
}





.Sub{
    font-weight: 750;
    text-align: justify;
    max-width: 900px;
    font-size: 2em;
}

.Paragrafos{
    text-align: justify;
    max-width: 615px;
    font-size: 1.6em;
} 

.Introducao{
    height: 950px;
    margin: 0;
    text-align: justify;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    flex-flow: wrap;

}

.Int1{

    background-color: white;
    color: black;
    align-items: center;
    
}


.Int1 h3 {
    margin-left: 250px;
    padding-top: 200px;
    max-width: fit-content;
    text-align: justify;
   

}
.Int1 p {
    margin-left: 250px;
    padding-top: 20px;

}

.Int1 img{
    margin-right: 200px;
    margin-top: -774px ;
    float: right;
    width: 460px;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    flex-flow: wrap;
}







.Int2{
    position: absolute;
    margin: 0;
    height: 950px;
    background-color: black;
    color: white;
    align-items: center;
}

.Caixa{
    filter: blur(10px);
    width: 80%;
    padding-bottom: 65%;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 15px;
    position: absolute;
    margin: 160px 116%;
    left: 40px;
    bottom: 2%;
    
}

.Int2 h3{
    width: 80%;
    margin: 200px 120%;
    font-family: 'WWFAWDWG';
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.301);
    color: rgb(240, 248, 255);
    position: relative;
    font-size: 4em;
    text-align: center;
    align-items: center;
    justify-content: center;


}

.Int2 p{
    position: relative;
    width: 80%;
    margin: 0% 126.4%;
    padding-top: 0% ;
    text-align: justify;
    align-items: center;
    justify-content: center;

}


.Iframe{
    
    position: absolute;
    margin: 150px 150px;
    left: 40px; 
    bottom: 2%;

}

.V2 video{
    
    width: 1903.4px;
    height: 1011.85px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}






